<div class="container-fluid" style="text-align: center;">
Select the machines you want to use:
<br/>

    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control" ng-model="cameleon.currentMachine" ng-options="c.id for c in cameleon.machinesList"></select>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" ng-click='addMachine(cameleon.currentMachine)'>Add</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success" ng-click='removeMachine(cameleon.currentMachine)'>Remove</button>
        </div>
    <br/>
    </div>
</div>