<div>
    Here, we define the pictures.
    <br/>
    <select ng-change="load()"  ng-model="cameleon.currentScene" ng-options="c.name for c in cameleon.scenesList"></select>
    <button ng-click="addScene()">Add</button>
    <button ng-click="removeScene()">Remove</button>
    <br/>
    List of buttons to generate:
    <br>
    <li class="menuli"  ng-repeat="s in cameleon.picturesStuff ">
        <div>
            <button ng-click="infos(s)">{{s.id}}</button><br/>
            {{s.type}}
        </div>
    </li>
</div>