<div>
    Here, we define the pictures.
    <br/>
    <div>
        Scenes (Projectors) <br/>
        <select ng-change="load()"  ng-model="cameleon.currentScene" ng-options="c.name for c in cameleon.scenesList"></select>
        <button ng-click="addScene()">Add</button>
        <button ng-click="removeScene()">Remove</button>
    </div>
    <div>
        Sounds <br/>
        <select  ng-model="cameleon.currentSound" ng-options="c.name for c in cameleon.soundslist"></select>
        <button ng-click="addSound()">Add</button>
        <button ng-click="removeSound()">Remove</button>
    </div>
    <br/>
    <b>List of buttons to generate:</b>
    <button ng-click="editMode = !editMode">Edit mode</button>
    <br/><br/>
    <widgets edit="editMode" things="cameleon.picturesStuff"></widgets>
</div>