<div class="container" style="text-align: center;">
    Here, we define the pictures.
    <br/>
    <div>
        <div class="form-group">
            <div class="col-md-2">
                <select class="form-control" ng-change="load()"  ng-model="cameleon.currentScene" ng-options="c.name for c in cameleon.scenesList"></select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" ng-click="addScene()">Add</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success"  ng-click="removeScene()">Remove</button>
            </div>
        </div>
        <br/><br/>
        <div class="form-group">
            <div class="col-md-2">
                <select class="form-control" ng-model="cameleon.currentSound" ng-options="c.id for c in cameleon.soundslist"></select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" ng-click="addSound()">Add</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-success" ng-click="removeSound()">Remove</button>
            </div>
        </div>
    </div>
    <br/><br/>

    <div>
    <b>List of buttons to generate:</b>
    <button class="btn btn-warning" ng-click="editMode = !editMode">Edit mode</button>
    <br/><br/>
    <widgets edit="editMode" things="cameleon.picturesStuff"></widgets>
</div>