<div  class="container" style="text-align: center;">
    <br>
    <b>Pictures management</b>
    <br/>
    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control" ng-change="load()" ng-model="cameleon.currentPicture" ng-options="c.name for c in cameleon.picturesList"></select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" ng-click="createPicture()">Add a new picture</button>
        </div>
    </div>
    <br>
    The following describes the picture {{cameleon.currentPicture.id}}
    <br/><br/>
    <button class="btn btn-primary"  ng-click="record()">Record this picture !</button>
</div>