<div class="container" style="text-align: center;">
    <br>
    <b>Scene management</b>
    <br/>
    <div class="form-group">
        <div class="col-md-2">
            <select class="form-control" ng-change="load()" ng-model="cameleon.currentScene" ng-options="c.name for c in cameleon.scenesList"></select>
        </div>
         <div class="col-md-2">
            <button class="btn btn-success" ng-click="createScene()">Add a new scene</button>
          </div>
    <br/><br/>
    The following describes the scene {{cameleon.currentScene.id}}

        <li ng-repeat="m in cameleon.machines">
            {{m.id}} has setting <b>{{m.setting}}</b>
        </li>
    <br/>
    <button class="btn btn-primary" ng-disabled="checkRecord()" ng-click="record()">Record this scene !</button>
 </div>