<div style="text-align: center;">
    <select  ng-change="selected(soundEntry)" ng-model="soundEntry"  ng-options="c.id for c in soundlist"></select>
    <div ng-show="soundEntry != null">
        <br/>
        <br/>
        <b>Sound specification:</b>
        <br/>
        card: <input type="number" ng-model="soundEntry.v.card">
        <br/>
        defLevel : <input type="number" ng-model="soundEntry.v.defLevel">
        <br/>
        loop : <input type="checkbox" ng-model="soundEntry.v.loop">
        <br/>
        position : <input list="soundModes" ng-model="soundEntry.v.position">
        <datalist id = 'soundModes'>
            <option value="s">Stereo</option>
            <option value="r">Right</option>
            <option value="l">Left</option>
        </datalist>
        <br/>
        songFile : <input ng-model="soundEntry.v.songFile">
        <br/>
        songName: <input ng-model="soundEntry.v.songName">
        <br/>

        <input type="file" ng-file-select="onFileSelect($files)">
    <br/>
        <button ng-click="updateSounds(soundEntry.id, soundEntry.v)">Update !</button>
    </div>

</div>
