<div class="container">
    <h4>Define the sounds</h4>
    <div class="form-group">
        <div class="col-md-2">
            <select  class="form-control" ng-change="selected(soundEntry)" ng-model="soundEntry"  ng-options="c.id for c in soundlist"></select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success" ng-click="createSound()">Add new sound</button>
        </div>
    </div>

    <div ng-show="soundEntry != null">
        <br/>
        <br/>
        <h1>Sound specification:</h1>
        <br/>

        <div class="row">
            <div class="col-md-1">
                Card
            </div>
            <div class="col-md-1">
                <input type="number" ng-init="0" ng-model="soundEntry.v.card">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Level
            </div>
            <div class="col-md-1">
                <input type="number" ng-init="100" ng-model="soundEntry.v.defLevel">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Loop
            </div>
            <div class="col-md-1">
                 <input type="checkbox" ng-model="soundEntry.v.loop">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Position
            </div>
            <div class="col-md-1">
                <input list="soundModes" ng-init="s" ng-model="soundEntry.v.position">
                <datalist id = 'soundModes'>
                <option value="s">Stereo</option>
                <option value="r">Right</option>
                <option value="l">Left</option>
                </datalist>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Nom
            </div>
            <div class="col-md-1">
                <input ng-model="soundEntry.v.songName">
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-md-3">
               <input type="file" ng-file-select="onFileSelect($files)">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <progressbar value="progressupload" min="0" max="100"><span style="color:black; white-space:nowrap;">{{progressupload}} %</span> </progressbar>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                Fichier
            </div>
            <div class="col-md-1">
                <input readonly ng-model="soundEntry.v.songFile">
            </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary" ng-click="updateSounds(soundEntry.id, soundEntry.v)">Update !</button>
    </div>

</div>
