<div style="text-align: center;">
    <select  ng-change="selected(soundEntry)" ng-model="soundEntry"  ng-options="c.id for c in soundlist"></select>
    <button ng-click="createSound()">Add new sound</button>
    <div ng-show="soundEntry != null">
        <br/>
        <br/>
        <b>Sound specification:</b>
        <br/>
        card: <input type="number" ng-model="soundEntry.v.card">
        <br/>
        defLevel : <input type="number" ng-model="soundEntry.v.defLevel">
        <br/>
        loop : <input type="checkbox" ng-model="soundEntry.v.loop">
        <br/>
        position : <input list="soundModes" ng-model="soundEntry.v.position">
        <datalist id = 'soundModes'>
            <option value="s">Stereo</option>
            <option value="r">Right</option>
            <option value="l">Left</option>
        </datalist>

        <br/>
        songName: <input ng-model="soundEntry.v.songName">
        <br/><br/>
        <input type="file" ng-file-select="onFileSelect($files)">
        <br/>
        <div id="progress">
            <p>Retrieving data...<strong>{{progessupload}} %</strong></p>
            <progress value="{{progessupload}}" min="0" max="100"> </progress>
        </div>

        songFile : <input ng-model="soundEntry.v.songFile">
        <br/><br/>
        <button ng-click="updateSounds(soundEntry.id, soundEntry.v)">Update !</button>
    </div>

</div>
