<div>
    Welcome to the configuration page. <br/><br/>
    <button ng-click="update()">Update</button>
    <button ng-click="save()">Save</button>
    <br/>
    <b>Dmx models : Define the projector and default values</b>
        <div class="jsonView" defocus>
            <json collapse=true child="dmxModel" type="'object'"></json>
        </div>

    <br/>
    <b>Dmx settings : Define the various DMX settings used by the lights</b>
        <div class="jsonView" defocus>
            <json collapse=true child="dmxSetting" type="'object'"></json>
        </div>
    <br/>
    <b>Dmx lights: Define your various light buttons</b>
        <div class="jsonView" defocus>
            <json collapse=true child="dmxLight" type="'object'"></json>
        </div>
    <br/>
    <b>Sound settings : Define the various sound buttons</b>
        <div class="jsonView" defocus>
            <json collapse=true child="sndSetting" type="'object'"></json>
        </div>
</div>