<div>
    Welcome to the configuration page. <br/><br/>
    <button ng-click="update()">Update</button>
    <button ng-click="save()">Save</button>
    <br/><br/>

    <fold fold-name="Sound buttons">
    <b>Sound settings : Define the various sound buttons</b>
        <div class="jsonView" defocus>
            <json collapse=true child="sndSetting" type="'object'"></json>
        </div>
    </fold>

    <fold fold-name="Dmx Fixtures">
        <b>Dmx Fixtures : Define the projector specifications</b>
            <div class="jsonView" defocus>
                <json collapse=true child="dmxFixtures" type="'object'"></json>
            </div>

        <br/>
    </fold>

    <fold fold-name="Dmx Devices">
        <b>Dmx devices : Define the projector and default values</b>
            <div class="jsonView" defocus>
                <json collapse=true child="dmxModel" type="'object'"></json>
            </div>

        <br/>
    </fold>

    <fold fold-name="Dmx Settings">
        <b>Dmx settings : Define the various DMX settings used by the lights</b>
            <div class="jsonView" defocus>
                <json collapse=true child="dmxSetting" type="'object'"></json>
            </div>
        <br/>
    </fold>

    <fold fold-name="Scenes">
        <b>Dmx Scenes : Define for a scene the various machines to use and their settings</b>
            <div class="jsonView" defocus>
                <json collapse=true child="camscenes" type="'object'"></json>
            </div>

        <br/>
    </fold>

    <fold fold-name="Pictures">
        <b>Dmx Pictures: Define for a picture your layout and sounds</b>
            <div class="jsonView" defocus>
                <json collapse=true child="campictures" type="'object'"></json>
            </div>
        <br/>
    </fold>

    <link href="/sceniq/local_components/JSONedit/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/sceniq/local_components/JSONedit/css/styles.css" rel="stylesheet" type="text/css" />
</div>