<div>
    Dynamic room configurator <br/>

     <button ng-click="refresh()">Force refresh</button>
     <div class="jsonView" defocus>
        <json collapse=true child="scenes" type="'object'"></json>
    </div>
    <br/>
    <div style="text-align: center;">
        <span ng-repeat="s in stuff">
            <span ng-switch="s.type">
                <span ng-switch-when="Sound">
                    <sound-button  height=60 id="{{s.id}}"></sound-button>
                </span>
                <span ng-switch-when="Light">
                    <dmx-light  id="{{s.id}}"></dmx-light>
                </span>
            </span>
        </span>
    </div>
</div>