<br/>
<b>Projector {{id}} </b><br/>
Power: <input type="range" ng-change="send('power')" ng-model="dmx.power" min="0" max="255" step="1">{{dmx.power}}</input><br/>
R :<input type="range" ng-change="send('red')" ng-model="dmx.red" min="0" max="63" step="1">{{dmx.red}}</input><br/>
G :<input type="range" ng-change="send('green')" ng-model="dmx.green" min="0" max="63" step="1">{{dmx.green}}</input><br/>
B :<input type="range" ng-change="send('blue')" ng-model="dmx.blue" min="0" max="63" step="1">{{dmx.blue}}</input><br/>