<div>
    Fader configuration - All available projectors are listed.<br/>
    <input ng-model="from" type="number">
    <input ng-model="to" type="number">
    <ul>
        <li class="faders" ng-repeat="f in faderlist | faderFilter:from:to">
            <select ng-model="name" ng-options="c.name for c in settingList" ng-change="SetSetting(f,name.name)"></select>
            <br/><button ng-click="record(f)">Record new setting</button>
                <dmx-fader  id="{{f}}"></dmx-fader>
        </li>
    </ul>
</div>