<div>
    Fader configuration - All available projectors are listed.<br/>
    <input ng-model="from" type="number">
    <input ng-model="to" type="number"><br/>
    <button ng-click="updateall()">Set all faders to dropbox values !</button><br/>
    <button ng-click="generateall()">Generate light button for this</button>
    <ul>
        <li class="faders" ng-repeat="f in faderlist | faderFilter:from:to">
            <br/><button ng-click="record(f)">Record new setting</button>
                <dmx-fader settings="settingList" id="{{f}}"></dmx-fader>
        </li>
    </ul>
</div>