<!DOCTYPE html>
<html ng-app="myApp">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<body>
    <div ng-controller="MainCtrl">
        <h1>
            Tandem : Trigger your sounds and lights !
                    <button ng-click="reloadProfile()">Reload profile</button>
        </h1>
        <div >
            <ul>
                <li ng-repeat="e in entries" class="menuli">
                    <a ui-sref="{{e.link}}">{{e.name}}</a>
                </li>
                <button ng-click="soundPanic()">Sound Panic !</button>
                <button ng-click="dmxPanic()">Dmx Panic !</button>
            </ul>
            <div ui-view></div>
            </div>
        </div>

    <script src="/sceniq/bower_components/jquery/jquery.min.js"></script>
    <script src="/sceniq/bower_components/angular/angular.js"></script>
	<script src="/sceniq/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/sceniq/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/sceniq/bower_components/angular-cookies/angular-cookies.min.js"></script>

    <script src="/sceniq/local_components/jQuery-Knob/js/jquery.knob.js"></script>
    <script src="/sceniq/local_components/angular-knob/src/angular-knob.js"></script>

    <script src="/sceniq/local_components/JSONedit/lib/angular-ui/angular-ui.js"></script>
    <script src="/sceniq/local_components/JSONedit/lib/jquery-ui/js/jquery-ui.min.js"></script>
    <script src="/sceniq/local_components/ui-sortable/src/sortable.js"></script>
    <link href="/sceniq/local_components/JSONedit/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="/sceniq/local_components/JSONedit/js/directives.js"></script>
    <link href="/sceniq/local_components/JSONedit/css/styles.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="/sceniq/css/sceniq.css">
	<script src="/sceniq/js/sceniq.js"></script>
</body>
