<!DOCTYPE html>
<html ng-app="myApp">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<body>
    <div ng-controller="MainCtrl">
        <img src="images/cameleon.png" ng-init="showOffOptions=false" ng-click="showOffOptions=!showOffOptions">
        <div ng-show="showOffOptions">
            <button class="btn btn-danger btn-sm" ng-click="turnoff()">Turn Off</button>
            <button class="btn btn-danger btn-sm" ng-click="reboot()">Reboot</button>
            <br/><br/>
        </div>
        <!---
        <button ng-click="reloadProfile()">Reload profile</button>
        --->
        <div >
            <ul>
                <li ng-repeat="e in entries" class="menuli">
                    <a ui-sref="{{e.link}}">{{e.name}}</a>
                </li>
                <button class="btn btn-danger btn-sm" ng-click="soundPanic()">Sound Panic !</button>
                <button class="btn btn-danger btn-sm" ng-click="dmxPanic()">Dmx Panic !</button>
            </ul>
            <div ui-view></div>
            </div>
        </div>

    <script src="/sceniq/local_components/jquery/jquery.min.js"></script>
    <script src="/sceniq/local_components/angular-file-upload/dist/angular-file-upload-html5-shim.min.js"></script>
    <script src="/sceniq/local_components/angular/angular.js"></script>
    <script src="/sceniq/local_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<script src="/sceniq/local_components/angular-resource/angular-resource.js"></script>
	<script src="/sceniq/local_components/angular-ui-router/angular-ui-router.js"></script>
    <script src="/sceniq/local_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/sceniq/local_components/jQuery-Knob/js/jquery.knob.js"></script>
    <script src="/sceniq/local_components/angular-knob/src/angular-knob.js"></script>

    <script src="/sceniq/local_components/JSONedit/lib/angular-ui/angular-ui.js"></script>
    <script src="/sceniq/local_components/JSONedit/lib/jquery-ui/js/jquery-ui.min.js"></script>
    <script src="/sceniq/local_components/ui-sortable/src/sortable.js"></script>
    <script src="/sceniq/local_components/JSONedit/js/directives.js"></script>
    <script src="/sceniq/local_components/angular-timer/app/js/timer.js"></script>

    <link rel="stylesheet" href="/sceniq/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/sceniq/css/sceniq.css">
	<script src="/sceniq/js/sceniq.js"></script>
</body>
