li.menuli
{
display:inline;
margin:10px;
}

.bloc {
    display: inline-block;
    width: 200px;
    padding: 35px 20px;
    margin: 3em 1em;
    line-height: 1.5em;
    background: -webkit-linear-gradient(#e5e5e5, #cFcFcF);
    background: -moz-linear-gradient(#e5e5e5, #cFcFcF);
    background: linear-gradient(#e5e5e5, #cFcFcF);
    color: #444;
}

.shadow {
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.5);
}


.leftpos
{
    float:left;
}

a
{
    color : white;
    font-size: 32px;
}

tr:not(:first-child):hover {
    background-color: rgba(255,0,0,.3);
}

body
{
    background-color: black;
    color: darkgrey;
}

div.lrback
{
    background-color: darkgray;
    color: white;
    height:100%;
    overflow: hidden;
}

.soundbutton {
    background-color: #1a1a1a;
	border-radius: 10px 10px 0 0;
	border-width: 2px;
	border-style: ridge;
	border-color: grey;
    display:inline-table;
	color: white;
    text-align: center;
}

#range {
    -webkit-appearance: slider-vertical;
    width: 120px;
    height: 150px;
}

div.leftpos
{
    float:left;
    background-color: darkgray;
}

div.rightpos
{
    float:right;
    background-color: darkgrey;
    width:20%;
}

div.chart
{
    width:100%;
    height:600px;
}

div.errors
{
    margin-left: 20px;
    overflow: scroll ;
    overflow-y : scroll;
    max-height:150px;
}

button.playStyle
{
    height:40px;
    background-color: green;
    font-size: 10px;
}

button.stopStyle
{
    height:40px;
    background-color: red;
    font-size: 10px;
}

button.fold
{
    height:40px;
    background-color: lightblue;
}

div.fold
{
    margin: 10px;
}

button.dmx
{
    height : 40px;
    background-color: lightsalmon;
}

button.transit
{
    height : 40px;
    background-color: orange;
}

button.list
{
    height : 40px;
    background-color: #d3d3d3;
}

button.running
{
    background-color: lightgreen;
}

span.clear
{
    background-color: lightgreen;
    clear: both;
}
