<div class="soundbutton">
<img src="images/coin.png">
<img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png">
<img src="images/coin.png"><br/>
<button ng-click="mute()">Mute</button><br/><br/>
<knob knob-options="knobOptions" knob-changed="level()" knob-data="power"></knob>
<br/>
<button style='height:{{height}}px' class="{{classstyle}}" ng-click="doit()"> {{song.songName}}</button><br/>
<img src="images/coin.png">
<img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png">
<img src="images/coin.png"><br/>
</div>
