<div class="soundbutton">
<img src="images/coin.png">
<img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png">
<img src="images/coin.png"><br/>
<input type="range" id="range" ng-change="level()" ng-model="power" min="0" max="100" step="1"></input>
<br/>
{{power}}%<br/>
<button style='height:{{height}}px' class="{{classstyle}}" ng-click="doit()"> {{song.songName}}</button><br/>
<img src="images/coin.png">
<img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png"><img src="images/vide.png">
<img src="images/coin.png"><br/>
</div>
