<script type="text/ng-template" id="widget_renderer">
    <span ng-switch="s.type">
        <span ng-switch-when="sound">
            <sound-button  height=60 id="{{s.id}}"></sound-button>
        </span>
        <span ng-switch-when="scene">
            <dmx-scene  id="{{s.id}}"></dmx-light>
        </span>
        <div ng-switch-when="line">
            <b>{{s.msg}}</b>
            <br/>
        </div>
        <span ng-switch-when="Fold">
            <fold >
                <span ng-repeat="s in s.what" ng-include="'widget_renderer'">
            </fold>
        </span>
        <span ng-switch-when="Fader">
            <dmx-fader id="{{s.id}}"></dmx-fader>
        </span>
    </span>

    <span ng-show="edit==true">
       <button ng-init="showMe=false" ng-click="showMe = !showMe">E</button>
       <div ng-show="showMe">
           <button ng-click="backward($index)">Move to left</button>
           <button ng-click="separator($index)">Insert Line</button>
           <button ng-click="forward($index)">Move to right</button>
           <button ng-click="remove($index)">Remove this</button>
           <ng-switch="s.tye">
           <div ng-switch="s.type">
               <div ng-switch-when="line">
                   <input ng-model="s.msg">
               </div>
               <div ng-switch-when="scene">
                   Associate songs <br/>
                   <select  ng-model="s.start" ng-options="c.name for c in cameleon.associatesoundslist"></select>
               </div>
           </div>
       </div>
    </span>
</script>

<span ng-repeat="s in stuff" ng-include="'widget_renderer'">
</span>
