<script type="text/ng-template" id="widget_renderer">
    <span ng-switch="s.type">
        <span ng-switch-when="sound">
            <sound-button  height=60 id="{{s.id}}"></sound-button>
        </span>
        <span ng-switch-when="scene">
            <dmx-scene  id="{{s.id}}" startsong="{{s.startSong}}"></dmx-light>
        </span>
        <div ng-switch-when="line">
            <b>{{s.msg}}</b>
            <br/>
        </div>
        <span ng-switch-when="Fold">
            <fold >
                <span ng-repeat="s in s.what" ng-include="'widget_renderer'">
            </fold>
        </span>
        <span ng-switch-when="Fader">
            <dmx-fader id="{{s.id}}"></dmx-fader>
        </span>
    </span>

    <span ng-show="edit==true">
       <button ng-init="showMe=false" ng-click="showMe = !showMe">E</button>
       <div ng-show="showMe" style="margin:5px;">
           <button class="btn btn-info btn-sm" ng-click="backward($index)">Move to left</button>
           <button class="btn btn btn-success btn-sm" ng-click="separator($index)">Insert Line</button>
           <button class="btn btn-info btn-sm" ng-click="forward($index)">Move to right</button>
           <button class="btn btn-danger btn-sm" ng-click="remove($index)">Remove this</button>
           <ng-switch="s.tye">
           <div ng-switch="s.type">
               <div ng-switch-when="line">
                   <input ng-model="s.msg">
               </div>
               <div ng-switch-when="scene">
                    <div class="form-group">
                        <div class="col-md-1">
                         Associate song<br/>
                        </div>
                        <div class="col-md-2">
                            <select  class="form-control" ng-model="wrapper.entry" ng-init="wrapper.entry={};getStartSound(s,wrapper)"  ng-change="setStart(s,wrapper)" ng-options="c.name for c in cameleon.associatesoundslist"></select>
                        </div>
                    </div>
               </div>
           </div>
       </div>
    </span>
</script>

<span ng-repeat="s in stuff" ng-include="'widget_renderer'">
</span>
